/*
* TODO: width 880px
* TODO: main-nav current
* TODO: main-nav overflow
* TODO: check min-heights
* TODO: -title & .text
* TODO: links in nav
*
* TODO: .columns via css property
*
*/

/* Common */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/24px "Roboto", Arial, sans-serif;

  color: #283136;
  background: #fff;
}

h1, h2, h3,
h4, h5, h6 { color: #000; }

a {
  color: #fb565a;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

img { max-width: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: auto;
}

.text > :first-child,
.text > .title { margin-top: 0; }
.text > :last-child { margin-bottom: 0; }

/* Buttons */

.btn {
  display: inline-block;
  padding: 15px 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;

  color: #000;
  background: #eee;
  box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);

  transition: all 0.2s;
}
.btn:hover { background: #dfdfdf; }
.btn:active {
  color: rgba(0,0,0,0.3);
  background: #d5d5d5;
}

.btn-primary {
  color: #fff;
  background: #fb565a;
}
.btn-primary:hover { background: #e74246; }
.btn-primary:active {
  color: rgba(255,255,255,0.3);
  background: #d7373b;
}

/* Header */

.header {
  padding: 50px 0;
  margin-bottom: 80px;
  background: #eee;
}

.inner-header { margin-bottom: 50px; }

.header-layout {
  display: flex;
  justify-content: space-between;
}

.logo { width: 160px; }
.logo img { display: block; }
.logo[href]:hover { opacity: 0.8; }
.logo[href]:active { opacity: 0.3; }

.main-nav {
  min-width: 440px;
}

.main-nav ul,
.cart {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 5px;
  margin: 0 -10px;

  list-style: none;
}

.main-nav a,
.cart a {
  display: block;
  padding: 5px;
  margin: 0 5px;

  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.1s;
}

.main-nav a[href]:hover,
.cart a[href]:hover { color: #fb565a; }

.main-nav a[href]:active,
.cart a[href]:active {
  color: rgba(0,0,0,0.3);
}

.cart {
  justify-content: flex-end;
  width: 160px;
  margin: 0;
}

a.show-cart {
  position: relative;

  padding-left: 40px;
  margin-right: -5px;
}

a.show-cart::before {
  content: "";
  position: absolute;
  left: 0; top: 50%;
  transform: translateY(-50%);

  width: 15px;
  height: 15px;

  background: url(../img/icon-cart.png);

  transition: opacity 0.1s;
}

a.show-cart:hover::before,
a.show-cart:active::before { opacity: 0.3 }

/* Slider */

.slider {
  position: relative;
  margin-bottom: -50px;
}

.slider > input[type="radio"] { display: none; }

.slider-controls {
  position: absolute;
  bottom: 96px; left: 50%;
  transform: translateX(-50%);

  display: flex;
}

.slider-controls label {
  display: block;
  overflow: hidden;

  width: 17px;
  height: 17px;
  margin: 0 8px;

  text-indent: -1000px;

  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;

  cursor: pointer;
}

#slider-btn-1:checked ~ .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-controls label[for="slider-btn-2"],
#slider-btn-3:checked ~ .slider-controls label[for="slider-btn-3"] {
  box-shadow: inset 0 0 0 2px #c1c1c1;
}

.slides {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;

  list-style: none;
}

#slider-btn-2:checked ~ .slides > :first-child { margin-left: -100%; }
#slider-btn-3:checked ~ .slides > :first-child { margin-left: -200%; }

.slide {
  width: 100%;
  flex-shrink: 0;
  height: 430px;
  padding: 75px 0 80px;

  background-position: bottom right;
  background-repeat: no-repeat;

  transition: margin 0.5s;
}

.slide:nth-child(1) { background-image: url(../img/slider-1.png); }
.slide:nth-child(2) { background-image: url(../img/slider-2.png); }
.slide:nth-child(3) { background-image: url(../img/slider-3.png); }

.slide-text {
  position: relative;

  width: 560px;
  height: 100%;
}

.slide-text .title {
  margin: 0 0 25px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

}

.slide-text p {
  margin: 0 100px 25px 0;
}

.slide-text .btn {
  position: absolute;
  bottom: 0;

  padding-left: 50px;
  padding-right: 50px;
}
/* EO Header */

/* Main  */
.index-main section {
  border-bottom: 2px solid #eee;
}
/* Advantages */

.advantages {
  display: flex;
  padding-bottom: 80px;
}

.advantages-item {
  flex-shrink: 0;
  width: 300px;
  margin-right: 100px;
}

.advantages-item img {
  display: block;
  max-width: 100%;
  margin-bottom: 27px;
}

.advantages-item p {
  margin: 15px 0;
  margin-right: 40px;
}

.advantages-item .title {
  margin: 15px 0;
  margin-right: 40px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages-item .btn { margin-top: 15px; }

.advantages-item:nth-child(2) .btn-primary { background: #00ca74; }
.advantages-item:nth-child(2) .btn-primary:hover { background: #00bc6c; }
.advantages-item:nth-child(2) .btn-primary:active { background: #00aa62; }

.advantages-item:nth-child(3) .btn-primary { background: #efc84a; }
.advantages-item:nth-child(3) .btn-primary:hover { background: #eab534; }
.advantages-item:nth-child(3) .btn-primary:active { background: #e5a722; }

/* About */

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  padding-bottom: 70px;
}

.about-left {
  width: 660px;

  /* TODO: for Grid - Delete */
  min-height: 375px;
}

.about-right {
  width: 360px;

  /* TODO: for Grid - Delete */
  min-height: 375px;
}

.about p {
  margin: 35px 0;
}

.about ul {
  padding: 0;
  margin: 25px 0;

  list-style: none;
}

.about li {
  position: relative;

  padding-left: 35px;
  margin-top: 25px;
}

.about li:before {
  content: "";
  position: absolute;
  top: 50%; left: 0;

  width: 25px;
  height: 2px;
  margin-top: -1px;

  background: #fb565a;
}

.about .lead,
.about .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about .subtitle {
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
}
.about-right .subtitle { text-align: center; }

.about-right .image {
  display: block;
  margin: -35px 0 35px;
}

.about .accuracy-list {
  display: flex;
  line-height: 18px;
}

.about .accuracy-list li {
  padding: 0;
  margin: 0 25px 0 0;
}
.about .accuracy-list li::before {
  display: none;
}

.about .accuracy-list b {
  display: block;
  margin: 10px 0 20px;

  font-size: 45px;
  line-height: 45px;
}

.about .accuracy-list b i {
  font-style: normal;
  font-size: 22px;
  vertical-align: super;
}

/* Work sites */

.work-sites {
  margin: 0 -20px;
  padding: 43px 0;
}

.work-sites ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.work-sites li {
  position: relative;

  width: 300px;
}

.work-sites li:after {
  content: "";
  position: absolute;
  top: 50%; right: 0;

  width: 2px;
  height: 50px;
  margin-top: -25px;

  background: #eee;
}

/*** All inner pages ***/

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.main-layout {
  display: flex;
  justify-content: space-between;
}

/*** All inner pages ****/

/* Inner pages header */

.inner-heading { margin-bottom: 45px; }

.inner-title {
  margin: 0 0 15px;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}
.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 50%; right: 0;

  width: 7px; height: 7px;
  margin: -3.5px 15px 0;

  vertical-align: middle;

  background: #000;
  transform: rotate(45deg);
}

.breadcrumbs a { color: #000; }

.breadcrumbs li:last-child {
  padding-right: 0;
  color: #aba9a7;
}
.breadcrumbs li:last-child::after { display: none; }

/* Inner pages content */

.inner-content h2 {
  margin: 60px 0 30px;

  font-size: 24px;
  line-height: 30px;
}

.inner-content p,
.inner-content ul {
  margin: 24px 0;
}

.inner-content ul {
  padding: 0;
  list-style: none;
}

.inner-content li {
  position: relative;

  padding-left: 20px;
  margin-bottom: 13px;
}
.inner-content li:last-child { margin-bottom: 0; }

.inner-content li::before {
  content: "";
  position: absolute;
  top: 50%; left: 0;

  width: 7px; height: 7px;
  margin-top: -3.5px;

  background: #000;
  transform: rotate(45deg);
}

.inner-content table {
  margin: 35px 0;
  border-collapse: collapse;
}

.inner-content th,
.inner-content td {
  padding: 8px 17px;
  border: 2px solid #000;
}

.inner-content .full-width { width: 100%; }
.inner-content .equal-cells { table-layout: fixed; }
.inner-content .short-text { padding-right: 80px; }

.inner-content .price-table {
  table-layout: fixed;
  width: 100%;

  text-align: center;
}

.inner-content .price-table td:first-child { text-align: left; }

/* Lead text/heading */

.inner-content .lead {
  display: flex;
  align-items: center;
  margin: 0 0 60px;

  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.inner-content .lead::before,
.inner-content .lead::after {
  content: "";

  flex-grow: 1;
  width: 50px;
  height: 2px;

  background: #000;
}
.inner-content .lead::before { margin-right: 25px; }
.inner-content .lead::after { margin-left: 25px; }

/* Columns */

.inner-content .columns {
  display: flex;
  justify-content: space-between;
}

.inner-content .columns + .columns { margin-top: 60px; }

.inner-content .column-left,
.inner-content .column-right {
  width: 460px;
}
.inner-content .column-right { float: right; }

.inner-content .column-left > *:first-child,
.inner-content .column-right > *:first-child { margin-top: 0; }
.inner-content .column-left > *:last-child,
.inner-content .column-right > *:last-child { margin-bottom: 0; }

.inner-content .columns-text {
  column-count: 2;
  column-width: 460px;
  column-gap: 60px;
  /*column-span: none;*/
}


/* Catalog page */

.catalog-page .header {
  margin-bottom: 60px;

  /* TODO: Grid */
  min-height: 305px;
}

/* Catalog  sidebar */
.catalog-sidebar {
  width: 260px;
}

.catalog-filters {

  /* TODO: Grid */
  min-height: 775px;
}

.catalog-filters fieldset {
  padding: 0; padding-bottom: 50px;
  margin: 0;
  border: none;

  /* TODO: Grid */
  box-shadow: 0 0 0 2px green;
}

.catalog-filters legend {
  float: left; width: 100%;
}

/* TODO: Grid */
.catalog-filters fieldset:nth-child(1) { min-height: 265px; }
.catalog-filters fieldset:nth-child(2) { min-height: 190px; }
.catalog-filters fieldset:nth-child(3) { min-height: 270px; }

/* Catalog content */

.catalog-content {
  width: 760px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;

  /* TODO: Grid */
  min-height: 75px;
}

.catalog-sort .controls {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.catalog-sort .order-asc {
  margin-left: auto;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.catalog-item {
  position: relative;
  width: 360px;
  padding: 40px 0 0;
  margin-bottom: 35px;
}

.catalog-item-image { display: block; }

.catalog-item-content {
  position: absolute;
  bottom: 0;
}

.catalog-paginator {
  margin-bottom: 60px;

  /* TODO: Grid */
  min-height: 50px;
}


/* EO Main  */

/* Footer */

.footer {
  overflow: hidden;
  margin-top: 80px;
}

/* Contacts & map */
.footer-contacts {
  position: relative;

  min-width: 1200px;
  max-width: 1440px;
  margin: auto;

}

.footer-contacts .map {
  display: block;
  margin: auto;
  max-width: 100%;
}

.footer-contacts .map-marker {
  position: absolute;
  top: 50%; left: 60%;
  margin-left: -45px;
  margin-top: -120px;
}

.footer-contacts .container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.footer-contacts-content {
  width: 320px;
  padding: 47px 50px;

  line-height: 18px;

  color: #666;
  background: #fff;
}

.footer-contacts-content p {
  margin: 15px 0;
}

.footer-contacts .title {
  margin: 0 0 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts .btn {
  margin-top: 25px;

  min-width: 100%;
}

/* Social */

.footer-social {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social-content {
  order: 2;
  min-width: 560px;

  color: #444;
  line-height: 22px;
}

.footer-social p { margin: 10px 0; }

.footer-social .title {
  margin: 0 0 10px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  order: 1;
  width: 260px;
  margin-right: 140px;
}

.social-btn {
  position: relative;
  display: inline-block;

  width: 78px;
  height: 78px;

  font-size: 0;
  line-height: 0;

  background: #e1e1e1;
  border-radius: 50%;
}

.social-btn:hover { background-color: #e74246; }
.social-btn:active { background-color: #d7373b; }

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat;
}

.social-btn:active::before { opacity: 0.3; }

.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-image: url(../img/icon-social-vk.png);
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-image: url(../img/icon-social-fb.png);
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-image: url(../img/icon-social-inst.png);
}

/* EO Footer */











.chromeperfectpixel-overlay {
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
}

/* Test styles for grid

body {
  margin-top: 15px;
  min-width: 1200px;
  min-height: 1716px;
  background: #fff url(../img/nerds-index.jpg) 50% 15px no-repeat;
  background-image: none;
}

.header {
  background: rgba(238,238,238,0.3);
}

.index-page {
  background-image: url(../img/nerds-index.jpg);
}

.catalog-page {
  background-image: url(../img/nerds-catalog.jpg);
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 2px green;
}

body > * > * {
  background: rgba(128, 0, 0, 0.2);
  box-shadow: 0 0 0 2px red;
}

body > * > * > * {
  background: rgba(128, 128, 0, 0.2);
  box-shadow: inset 0 0 0 2px yellow;
}

body > *:before,
body > * > *:before,
body > * > * > *:before {
  content: attr(class);
  position: absolute;
  top: 0; left: 0;
  padding: 3px 5px;
  color: #fff;
  font: bold 12px/12px Lucida Console, Lucida Sans Typewriter, monaco, monospace;
}

body > * > *:before {
  left: -2px;
  transform: translateY(-100%);
}

body > *:before { background: green; }
body > * > *:before { background: red; }
body > * > * > *:before { color: #000; background: yellow; }
