/* Common */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/24px "Roboto", Arial, sans-serif;

  color: #283136;
  background: #fff;
}

h1, h2, h3,
h4, h5, h6 { color: #000; }

img { max-width: 100%; }

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: auto;
}

.text > :first-child,
.text > .title { margin-top: 0; }
.text > :last-child { margin-bottom: 0; }

/* Text inputs  */

label {
  font-weight: bold;
  line-height: 18px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
textarea {
    display: inline-block;
    padding: 14px 12px;

    font: inherit;
    line-height: 18px;

    color: #444;
    background: #fff;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c8c8c8;
  color: rgba(68,68,68,0.5);
}

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c8c8c8;
  color: rgba(68,68,68,0.5);
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder,
textarea::placeholder {
  color: #c8c8c8;
  color: rgba(68,68,68,0.5);
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=tel]:hover,
textarea:hover {
  border-color: #b4b9bb;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
textarea:focus {
  border-color: #000;
  outline: none;
}

input[type=text].error,
input[type=email].error,
input[type=password].error,
input[type=tel].error,
textarea.error,
input[type=text]:invalid,
input[type=email]:invalid,
input[type=password]:invalid,
input[type=tel]:invalid,
textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 16px 40px;

  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;

  color: #000;
  background: #eee;
  border: none;
  border-radius: 3px;

  -webkit-transition: all 0.2s;

  -o-transition: all 0.2s;

  transition: all 0.2s;
}

.btn:hover {
  background: #dfdfdf;
  text-decoration: none;
}

.btn:active {
  color: #a9a9a9; color: rgba(0,0,0,0.3);
  background: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.btn:disabled,
.btn.disabled {
  color: #000;
  background: #eee;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.5;
}

.btn-primary {
  color: #fff;
  background: #fb565a;
}

.btn-primary:hover {
  color: #fff;
  background: #e74246;
}

.btn-primary:active {
  color: #e48789; color: rgba(255,255,255,0.3);
  background: #d7373b;
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background: #fb565a;
}

/* Radio & checkboxes */

input[type="radio"],
input[type="checkbox"] { display: none; }

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label i {
  content: "";
  position: absolute;
  top: 50%; left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  background: #fff;
  border: 1px solid #b8b8b8;
}

input[type="radio"] + label::after,
input[type="checkbox"] + label i::before,
input[type="checkbox"] + label i::after {
  display: none;
  content: "";
  position: absolute;
}

input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label i::before,
input[type="checkbox"]:checked + label i::after { display: block; }

input[type="radio"] + label::before {
  width: 25px;
  height: 25px;

  border-width: 3px;
  border-radius: 50%;
}

input[type="radio"] + label::after {
  top: 50%; left: 12.5px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 8px;
  height: 8px;

  background: #b8b8b8;
  border-radius: 50%;
}

input[type="checkbox"] + label i {
  width: 23px;
  height: 23px;

  border-width: 2px;
  border-radius: 5px;
}

input[type="checkbox"] + label i::after {
  top: -2px; right: -5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);

  width: 23px;
  height: 13px;

  border: 1px solid #b8b8b8;
  border-width: 0 0 5px 5px;
  border-radius: 2px;
}

input[type="checkbox"] + label i::before {
  top: -4px; right: -9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);

  width: 26px;
  height: 16px;

  border: 1px solid #fff;
  border-width: 0 0 10px 10px;
  border-radius: 2px;
}

/* Header */

.header {
  padding: 50px 0;
  margin-bottom: 80px;
  background: #eee;
}

.inner-header { margin-bottom: 55px; }

.header-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;

  width: 160px;
  margin: 0;
  padding: 0;

  font: inherit;
}
.logo img { display: block; }
.logo[href]:hover { opacity: 0.8; }
.logo[href]:active { opacity: 0.3; }


.site-nav ul,
.user-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 20px 0 5px;
  margin: 0;

  list-style: none;
}

.site-nav a,
.user-nav a {
  display: block;
  position: relative;

  padding: 5px;
  margin: 0 5px;

  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;

  -webkit-transition: color 0.1s;

  -o-transition: color 0.1s;

  transition: color 0.1s;
}

.site-nav a::after,
.user-nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px; right: 5px;

  height: 2px;

  background: #fb565a;
}

.site-nav a[href]::after,
.user-nav a[href]::after { display: none; }

.site-nav a[href]:hover,
.user-nav a[href]:hover { color: #fb565a; }

.site-nav a[href]:active,
.user-nav a[href]:active {
  color: #bdbdbd;
  color: rgba(0,0,0,0.3);
}

/* icons */

.site-nav a[href]::before,
.user-nav a[href]::before {
  opacity: 1;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.site-nav a::before,
.user-nav a::before,
.site-nav a[href]:hover::before,
.user-nav a[href]:hover::before,
.site-nav a[href]:active::before,
.user-nav a[href]:active::before { opacity: 0.3 }

/* EO icons */

.site-nav ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  min-width: 460px;
  max-width: 660px;
}

.user-nav ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  min-width: 160px;
  max-width: 260px;
  margin-right: -10px;
}

.user-nav li { max-width: 100%; }

a.show-cart { padding-left: 40px; }

a.show-cart::before {
  content: "";
  position: absolute;
  left: 0; top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  width: 15px;
  height: 15px;

  background: url(../img/icon-cart.png);
}

/* Slider */

.slider {
  position: relative;
  margin-bottom: -50px;
}

.slider > input[type="radio"] { display: none; }

.slider-controls {
  position: absolute;
  bottom: 96px; left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.slider-controls label {
  display: block;
  overflow: hidden;

  width: 17px;
  height: 17px;
  margin: 0 8px;

  text-indent: -1000px;

  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;

  cursor: pointer;
}

#slider-btn-1:checked ~ .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-controls label[for="slider-btn-2"],
#slider-btn-3:checked ~ .slider-controls label[for="slider-btn-3"] {
  -webkit-box-shadow: inset 0 0 0 2px #c1c1c1;
          box-shadow: inset 0 0 0 2px #c1c1c1;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;

  list-style: none;
}

#slider-btn-2:checked ~ .slides > :first-child { margin-left: -100%; }
#slider-btn-3:checked ~ .slides > :first-child { margin-left: -200%; }

.slide {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 430px;
  padding: 75px 0 80px;

  background-position: bottom right;
  background-repeat: no-repeat;

  -webkit-transition: margin 0.5s;

  -o-transition: margin 0.5s;

  transition: margin 0.5s;
}

.slide:nth-child(1) { background-image: url(../img/slider-1.png); }
.slide:nth-child(2) { background-image: url(../img/slider-2.png); }
.slide:nth-child(3) { background-image: url(../img/slider-3.png); }

.slide-text {
  position: relative;

  width: 560px;
  height: 100%;
}

.slide-text .title {
  margin: 0 0 25px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

}

.slide-text p {
  margin: 0 100px 25px 0;
}

.slide-text .btn {
  position: absolute;
  bottom: 0;

  padding-left: 50px;
  padding-right: 50px;
}
/* EO Header */

/* Main  */
.index-main section {
  border-bottom: 2px solid #eee;
}
/* Advantages */

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.advantages-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  margin-right: 100px;
}

.advantages-item img {
  display: block;
  max-width: 100%;
  margin-bottom: 27px;
}

.advantages-item p {
  margin: 15px 0;
  margin-right: 40px;
}

.advantages-item .title {
  margin: 15px 0;
  margin-right: 40px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages-item .btn { margin-top: 15px; }

.advantages-item:nth-child(2) .btn-primary,
.advantages-item:nth-child(2) .btn-primary.disabled { background: #00ca74; }
.advantages-item:nth-child(2) .btn-primary:hover { background: #00bc6c; }
.advantages-item:nth-child(2) .btn-primary:active { background: #00aa62; }

.advantages-item:nth-child(3) .btn-primary,
.advantages-item:nth-child(3) .btn-primary.disabled { background: #efc84a; }
.advantages-item:nth-child(3) .btn-primary:hover { background: #eab534; }
.advantages-item:nth-child(3) .btn-primary:active { background: #e5a722; }

/* About */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
  padding-bottom: 70px;
}

.about-left {
  width: 660px;
}

.about-right {
  width: 360px;
}

.about p {
  margin: 35px 0;
}

.about ul {
  padding: 0;
  margin: 25px 0;

  list-style: none;
}

.about li {
  position: relative;

  padding-left: 35px;
  margin-top: 25px;
}

.about li:before {
  content: "";
  position: absolute;
  top: 50%; left: 0;

  width: 25px;
  height: 2px;
  margin-top: -1px;

  background: #fb565a;
}

.about .lead,
.about .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about .subtitle {
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
}
.about-right .subtitle { text-align: center; }

.about-right .image {
  display: block;
  margin: -35px 0 35px;
}

.about .accuracy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 18px;
}

.about .accuracy-list li {
  padding: 0;
  margin: 0 25px 0 0;
}
.about .accuracy-list li::before {
  display: none;
}

.about .accuracy-list b {
  display: block;
  margin: 10px 0 20px;

  font-size: 45px;
  line-height: 45px;
}

.about .accuracy-list b i {
  font-style: normal;
  font-size: 22px;
  vertical-align: super;
}

/* Work sites */

.work-sites {
  margin: 0 -20px;
  padding: 43px 0;
}

.work-sites ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.work-sites li {
  position: relative;

  width: 300px;
}

.work-sites li:after {
  content: "";
  position: absolute;
  top: 50%; right: 0;

  width: 2px;
  height: 50px;
  margin-top: -25px;

  background: #eee;
}

/*** All inner pages ***/

.page-title {
  margin-top: 75px;
  margin-bottom: 60px;

  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.main-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Main header */

.main-header { margin-bottom: 45px; }

.main-title {
  margin: 0 0 15px;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}
.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 50%; right: 0;

  width: 7px; height: 7px;
  margin: -3.5px 15px 0;

  vertical-align: middle;

  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs a { color: #000; }

.breadcrumbs li:last-child {
  padding-right: 0;
  color: #aba9a7;
}
.breadcrumbs li:last-child::after { display: none; }

/* Inner pages content */

.inner-content h2 {
  margin: 60px 0 30px;

  font-size: 24px;
  line-height: 30px;
}

.inner-content p,
.inner-content ul {
  margin: 24px 0;
}

.inner-content ul {
  padding: 0;
  list-style: none;
}

.inner-content li {
  position: relative;

  padding-left: 20px;
  margin-bottom: 13px;
}
.inner-content li:last-child { margin-bottom: 0; }

.inner-content li::before {
  content: "";
  position: absolute;
  top: 50%; left: 0;

  width: 7px; height: 7px;
  margin-top: -3.5px;

  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.inner-content table {
  margin: 35px 0;
  border-collapse: collapse;
}

.inner-content th,
.inner-content td {
  padding: 8px 17px;
  border: 2px solid #000;
}

.inner-content .full-width { width: 100%; }
.inner-content .equal-cells { table-layout: fixed; }
.inner-content .short-text { padding-right: 80px; }

.inner-content .price-table {
  table-layout: fixed;
  width: 100%;

  text-align: center;
}

.inner-content .price-table td:first-child { text-align: left; }

/* Lead text/heading */

.inner-content .lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 60px;

  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.inner-content .lead::before,
.inner-content .lead::after {
  content: "";

  -webkit-box-flex: 1;

      -ms-flex-positive: 1;

          flex-grow: 1;
  width: 50px;
  height: 2px;

  background: #000;
}
.inner-content .lead::before { margin-right: 25px; }
.inner-content .lead::after { margin-left: 25px; }

/* Columns */

.inner-content .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-content .columns + .columns { margin-top: 60px; }

.inner-content .column-left,
.inner-content .column-right {
  width: 460px;
}
.inner-content .column-right { float: right; }

.inner-content .column-left > *:first-child,
.inner-content .column-right > *:first-child { margin-top: 0; }
.inner-content .column-left > *:last-child,
.inner-content .column-right > *:last-child { margin-bottom: 0; }

.inner-content .columns-text {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-width: 460px;
          column-width: 460px;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  /*column-span: none;*/
}


/* Catalog page */

.catalog-sidebar {
  width: 260px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.catalog-content {
  width: 760px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* Catalog filters */

.catalog-filters fieldset {
  padding: 0;
  margin: 0 0 45px;
  border: none;
}

.catalog-filters legend {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 15px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-filters legend + div,
.catalog-filters legend + ul,
.catalog-filters legend + p { clear: both; }

.catalog-filters fieldset:first-child legend {
  margin-bottom: 50px;
}

.catalog-filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-filters li {
  padding: 0;
  margin: 0 0 15px;
}

.catalog-filters li:last-child { margin-bottom: 0; }

.catalog-filters .btn-show {
  width: 100%;
  margin-top: 10px;
}

/* Range filter */

.range-filter { margin-bottom: 5px; }

.range-slider {
  position: relative;

  height: 80px;

  color: #283136;
  background: #eee;
}

.range-slider .scale {
  position: absolute;
  top: 50%;
  left: 20px; right: 20px;

  height: 2px;
  margin-top: -1px;
  background: #d7dcde;
}

.range-slider .bar {
  position: absolute;
  left: 0;

  width: 100%;
  height: 100%;

  background: #00ca74;
}

.range-slider .toggle {
  position: absolute;
  top: 50%; left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px #ccc;
          box-shadow: 0 2px 1px #ccc;
}

.range-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-top: 15px;
}

.range-controls label {
  margin-right: 10px;

  color: #283136;
  text-transform: uppercase;
}

.range-controls input {
  width: 80px;
  padding: 7px;

  font: inherit;
  text-align: center;

  color: #283136;
  background: #eee;
  border: none;
}

.range-controls input:first-of-type { margin-right: auto; }

/* Catalog sort */

.catalog-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-bottom: 50px;
}

.catalog-sort .legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-sort-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 360px;
}

.catalog-sort-options a {
  margin-right: 25px;

  color: #000;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-sort-options a:last-child { margin-right: 0; }

.catalog-sort-options a[href] { opacity: 0.3; }
.catalog-sort-options a[href]:hover { opacity: 0.6; }
.catalog-sort-options a[href]:active { opacity: 1; }

.catalog-sort-options .order {
  width: 0;
  height: 0;

  text-indent: -1000px;
  overflow: hidden;

  border: 4.5px solid transparent;
}

.catalog-sort-options .order-asc {
  margin-left: auto;
  margin-right: 20px;

  border-top-width: 0;
  border-bottom-width: 9px;
  border-bottom-color: #000;
}

.catalog-sort-options .order-desc {
  border-top-width: 9px;
  border-bottom-width: 0;
  border-top-color: #000;
}

/* Catalog items */

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.catalog-item {
  overflow: hidden;
  position: relative;
  width: 360px;
  margin-bottom: 35px;

  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.catalog-item-top {
  padding: 15px;

  color: #fff;
  background: #e9e9e9;
}

.catalog-item-top span,
.catalog-item-top span::before,
.catalog-item-top span::after {
  display: block;
  position: relative;

  width: 14px;
  height: 14px;

  background: #fff;
  border-radius: 50%;
}

.catalog-item-top span {
  margin: 0 24px;
}

.catalog-item-top span::before,
.catalog-item-top span::after {
  content: "";
  position: absolute;
  top: 0;
}
.catalog-item-top span::before { left: -24px; }
.catalog-item-top span::after { right: -24px; }

.catalog-item-image { display: block; }

.catalog-item-content {
  position: absolute;
  bottom: -300px;
  left: 0; right: 0;

  padding: 30px 60px 45px;

  line-height: 18px;
  text-align: center;
  text-decoration: none;

  color: #666;
  background: #e9e9e9;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.catalog-item-content:focus,
.catalog-item:hover .catalog-item-content {
  bottom: 0;
  opacity: 1;
}

.catalog-item p { margin: 25px 0; }
.catalog-item p:only-of-type { min-height: 36px; }

.catalog-item .title {
  margin: 0 0 25px;

  color: #000;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item .btn-buy {
  display: block;
  margin: 0 20px;

  font-weight: bold;

  color: #fff;
  background: #fb565a;
}

/* Catalog paginator */

.catalog-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.catalog-paginator a {
  display: block;
  min-width: 50px;
  padding: 16px 10px;
  margin-right: 10px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #000;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
          box-shadow: inset 0 0 0 3px #dbdbdb;
}

.catalog-paginator a[href] {
  background-color: #eee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-paginator a[href]:hover {
  color: #000;
  background-color: #dfdfdf;
}

.catalog-paginator a[href]:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 #bfbfbf;
          box-shadow: inset 0 3px 0 #bfbfbf;
}
/* EO Main  */

/* Footer */

.footer {
  overflow: hidden;
  margin-top: 80px;
}

/* Contacts & map */
.footer-contacts {
  position: relative;

  min-width: 1200px;
  max-width: 1440px;
  margin: auto;

}

.footer-contacts .map-image {
  display: block;

  margin: auto;
  height: auto;
  min-height: 345px;

  line-height: 5;
  text-align: center;

  background: #f1efe8;
}

.footer-contacts .map {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

  width: 100%;
  height: 100%;
}

.footer-contacts .container {
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-contacts-content {
  width: 320px;
  padding: 47px 50px;

  line-height: 18px;

  color: #666;
  background: #fff;
}

.footer-contacts-content p {
  margin: 15px 0;
}

.footer-contacts .title {
  margin: 0 0 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts .btn {
  margin-top: 25px;

  min-width: 100%;
}

/* Social */

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  min-width: 560px;

  color: #444;
  line-height: 22px;
}

.footer-social p { margin: 10px 0; }

.footer-social .title {
  margin: 0 0 10px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 260px;
  margin-right: 140px;
}

.social-btn {
  position: relative;
  display: inline-block;

  width: 78px;
  height: 78px;

  text-indent: -1000px;
  overflow: hidden;

  background: #e1e1e1;
  border-radius: 50%;
}

.social-btn:hover { background-color: #e74246; }
.social-btn:active { background-color: #d7373b; }

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  background: url(../img/sprite.png) 0 0 no-repeat;
}

.social-btn:active::before { opacity: 0.3; }

.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -25px -168px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -25px -25px;
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -25px -97px;
}

/* EO Footer */

/* Modals */

@-webkit-keyframes bounce {
  0%    { margin-top: -2000px; }
  50%   { margin-top: 50px; }
  80%   { margin-top: -25px; }
  100%  { margin-top: 0; }
}

@keyframes bounce {
  0%    { margin-top: -2000px; }
  50%   { margin-top: 50px; }
  80%   { margin-top: -25px; }
  100%  { margin-top: 0; }
}

@-webkit-keyframes shake {
  0%, 100%                 { margin-left: 0; }
  10%, 30%, 50%, 70%, 90%  { margin-left: -10px; }
  20%, 40%, 60%, 80%       { margin-left: 10px; }
}

@keyframes shake {
  0%, 100%                 { margin-left: 0; }
  10%, 30%, 50%, 70%, 90%  { margin-left: -10px; }
  20%, 40%, 60%, 80%       { margin-left: 10px; }
}

.modal {
  display: none;
  position: fixed;

  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 960px;
  padding: 65px 100px 85px;

  color: #000;
  background: #fff;

  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);

          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
}

.modal-error {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.modal-close {
  position: absolute;
  top: 75px;
  right: 85px;

  width: 27px;
  height: 27px;

  text-indent: -1000px;
  overflow: hidden;

  background: none;
  border: none;
  opacity: 0.3;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.modal-close:hover { opacity: 1; }
.modal-close:active { opacity: 0.1; }

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 50%; left: 0;

  width: 100%;
  height: 5px;
  margin-top: -2.5px;

  background: #fb565a;
  border-radius: 1px;
}

.modal-close::before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.modal-close::after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

.modal-title {
  margin: 0 0 40px;

  font-size: 45px;
  line-height: 45px;
  font-weight: normal;
}


.feedback-form label {
  display: block;
  margin: 0 0 10px;
}

.feedback-form input[type=text],
.feedback-form input[type=email],
.feedback-form textarea {
  display: block;
  width: 100%;
}

.feedback-form .btn-primary { width: 260px; }

.feedback-form p { margin: 0 0 35px; }
.feedback-form .actions { margin: 45px 0 0; }

.feedback-form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feedback-form .row p { width: 360px; }

/* EO Modals */
